.wave-container{
  max-height: 200px;
  overflow: hidden;
}

.width-100{
  width: 100%;
  padding: 0;
  margin: 0;
}
.path-0{
    width: 100%;
   animation:pathAnim-0 4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
 @keyframes pathAnim-0{
   0%{
     d: path("M 0,400 C 0,400 0,200 0,200 C 176.53333333333336,182.26666666666665 353.0666666666667,164.53333333333333 525,156 C 696.9333333333333,147.46666666666667 864.2666666666667,148.13333333333335 1016,157 C 1167.7333333333333,165.86666666666665 1303.8666666666668,182.93333333333334 1440,200 C 1440,200 1440,400 1440,400 Z");
   }
   25%{
     d: path("M 0,400 C 0,400 0,200 0,200 C 133.60000000000002,180.13333333333333 267.20000000000005,160.26666666666668 422,181 C 576.8,201.73333333333332 752.8,263.06666666666666 926,273 C 1099.2,282.93333333333334 1269.6,241.46666666666667 1440,200 C 1440,200 1440,400 1440,400 Z");
   }
   50%{
     d: path("M 0,400 C 0,400 0,200 0,200 C 127.19999999999999,173.06666666666666 254.39999999999998,146.13333333333335 409,166 C 563.6,185.86666666666665 745.6000000000001,252.53333333333336 922,266 C 1098.3999999999999,279.46666666666664 1269.1999999999998,239.73333333333332 1440,200 C 1440,200 1440,400 1440,400 Z");
   }
   75%{
     d: path("M 0,400 C 0,400 0,200 0,200 C 155.06666666666666,206.8 310.1333333333333,213.6 452,198 C 593.8666666666667,182.4 722.5333333333333,144.39999999999998 885,141 C 1047.4666666666667,137.60000000000002 1243.7333333333333,168.8 1440,200 C 1440,200 1440,400 1440,400 Z");
   }
   100%{
     d: path("M 0,400 C 0,400 0,200 0,200 C 176.53333333333336,182.26666666666665 353.0666666666667,164.53333333333333 525,156 C 696.9333333333333,147.46666666666667 864.2666666666667,148.13333333333335 1016,157 C 1167.7333333333333,165.86666666666665 1303.8666666666668,182.93333333333334 1440,200 C 1440,200 1440,400 1440,400 Z");
   }
 }